<div>
  <h2 id="page-heading" data-cy="FacturesHeading">
    <span jhiTranslate="myLittleComptaApp.factures.home.title">Factures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myLittleComptaApp.factures.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factures"
        [routerLink]="['/factures/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myLittleComptaApp.factures.home.createLabel"> Créer un nouveau Factures </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factures?.length === 0">
    <span jhiTranslate="myLittleComptaApp.factures.home.notFound">Aucun Factures trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="factures && factures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="number">
            <div class="d-flex">
              <span jhiTranslate="myLittleComptaApp.factures.number">Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emissionDate">
            <div class="d-flex">
              <span jhiTranslate="myLittleComptaApp.factures.emissionDate">Emission Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paidInvoice">
            <div class="d-flex">
              <span jhiTranslate="myLittleComptaApp.factures.paidInvoice">Paid Invoice</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contacts.id">
            <div class="d-flex">
              <span jhiTranslate="myLittleComptaApp.factures.contacts">Contacts</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factures of factures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factures', factures.id, 'view']">{{ factures.id }}</a>
          </td>
          <td>{{ factures.number }}</td>
          <td>{{ factures.emissionDate | formatMediumDatetime }}</td>
          <td>{{ factures.paidInvoice }}</td>
          <td>
            <div *ngIf="factures.contacts">
              <a [routerLink]="['/contacts', factures.contacts.id, 'view']">{{ factures.contacts.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factures', factures.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factures', factures.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(factures)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
