@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: bold;
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.bg-violet {
    background-color:#524BAD
}

.bg-beige {
    background-color:#FEEEB8;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}