<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-seances-heading" data-cy="SeancesCreateUpdateHeading" jhiTranslate="myLittleComptaApp.seances.home.createOrEditLabel">
        Créer ou éditer un Seances
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myLittleComptaApp.seances.place" for="field_place">Place</label>
          <input type="text" class="form-control" name="place" id="field_place" data-cy="place" formControlName="place" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myLittleComptaApp.seances.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myLittleComptaApp.seances.prestations" for="field_prestations">Prestations</label>
          <select
            class="form-control"
            id="field_prestations"
            data-cy="prestations"
            name="prestations"
            formControlName="prestations"
            [compareWith]="comparePrestations"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="prestationsOption" *ngFor="let prestationsOption of prestationsCollection">
              {{ prestationsOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myLittleComptaApp.seances.patients" for="field_patients">Patients</label>
          <select
            class="form-control"
            id="field_patients"
            data-cy="patients"
            name="patients"
            formControlName="patients"
            [compareWith]="comparePatients"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="patientsOption" *ngFor="let patientsOption of patientsSharedCollection">{{ patientsOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myLittleComptaApp.seances.factures" for="field_factures">Factures</label>
          <select
            class="form-control"
            id="field_factures"
            data-cy="factures"
            name="factures"
            formControlName="factures"
            [compareWith]="compareFactures"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="facturesOption" *ngFor="let facturesOption of facturesSharedCollection">{{ facturesOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
