<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="factures">
      <h2 data-cy="facturesDetailsHeading"><span jhiTranslate="myLittleComptaApp.factures.detail.title">Factures</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ factures.id }}</span>
        </dd>
        <dt><span jhiTranslate="myLittleComptaApp.factures.number">Number</span></dt>
        <dd>
          <span>{{ factures.number }}</span>
        </dd>
        <dt><span jhiTranslate="myLittleComptaApp.factures.emissionDate">Emission Date</span></dt>
        <dd>
          <span>{{ factures.emissionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="myLittleComptaApp.factures.paidInvoice">Paid Invoice</span></dt>
        <dd>
          <span>{{ factures.paidInvoice }}</span>
        </dd>
        <dt><span jhiTranslate="myLittleComptaApp.factures.contacts">Contacts</span></dt>
        <dd>
          <div *ngIf="factures.contacts">
            <a [routerLink]="['/contacts', factures.contacts.id, 'view']">{{ factures.contacts.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/factures', factures.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
